.VarFont{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

body{
    width: 100vw;
    height: 100vh;
}

#name{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
}

.char{
    font-size: 16.6vw;
    font-family: Teko;
    font-weight: 300;
    
}

p:hover{
    font-weight: 700;
}